body {
  font-family: "Roboto", sans-serif;
  /* second-family: "Raleway", sans-serif; */
  background-color: #fff;
  color: #434455;
}
/* Reset  */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*   Common   */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
  display: inline-block;
}

.header-logo-italic {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link.current {
  color: #404bbf;
}

.header-menu-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* HERO */
.hero-container {
}

.hero {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  min-width: 169px;
  white-space: nowrap;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* FEATURES */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-container {
  display: flex;
  align-items: center;
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  flex-basis: calc((100% - 72px) / 4);
}
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  flex-basis: calc((100% - 72px) / 4);
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-subtitle {
  margin-bottom: 8px;
}

.features-text {
}
/* TEAM */
.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
}

.team {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-images {
}

.team-subtitle {
  text-align: center;
  white-space: nowrap;
  margin-bottom: 8px;
}
.team-card {
  padding: 32px 0;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-left: 16px;
  margin-right: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
  box-shadow: зі значенням 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.soc-icon-svg {
  fill: #f4f4fd;
}

/* PORTFOLIO */

.section-portfolio {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0%);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images {
}

.portfolio-box {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-text {
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.container-footer-logo {
  margin-right: 120px;
}

.footer-logo-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-soc {
  display: inline-block;
  align-items: center;
}

.footer-soc-text {
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.icon-list-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item-footer {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.icon-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.soc-icon-footer {
  fill: #f4f4fd;
}
